################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Source/FileContentIndex
/.vs/Source/v17
/Build/UI/node_modules/.cache
/Build/UI/node_modules
